<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.videocallingapp">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/hclogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/hclogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Videocallingapp">
        <activity android:name=".ShowusersActivity">
        </activity>
        <activity android:name=".AddroletouserActivity"></activity>
        <activity android:name=".SendnotificationActivity"></activity>
        <activity android:name=".AddhistoryActivity" />
        <activity android:name=".PatientreportActivity" />
        <activity android:name=".ChatmessageActivity" />
        <activity android:name=".UsersActivity" />
        <activity android:name=".ShowvideoActivity" />
        <activity android:name=".AddvideoActivity" />
        <activity android:name=".ManagevideoActivity" />
        <activity android:name=".ShowuserprofileActivity" />
        <activity android:name=".ShowpatientActivity" />
        <activity android:name=".UpdatedeletepatientActivity" />
        <activity android:name=".ManagepatientActivity" />
        <activity android:name=".AddpatientActivity" />
        <activity android:name=".PhonecallActivity" />
        <activity android:name=".SendsmsActivity" />
        <activity android:name=".UpdatedeletedoctorActivity" />
        <activity android:name=".ManagedoctorActivity" />
        <activity android:name=".DoctorActivity" />
        <activity android:name=".AdddoctorActivity" />
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".AdminActivity" />

        <service
            android:name=".MyFirebaseMessagingService"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service android:name=".MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>